{{#> layouts/default}}

{{#*inline 'head'}}
    {{> inc/head title='About'}}
{{/inline}}

{{#*inline 'body'}}
    <h1>About</h1>

    <p>
        <a href="{{route '/'}}">Go to home</a>
    </p>
{{/inline}}

{{/layouts/default}}
